.topButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-top: 6px;
    margin-bottom: 6px;
}

.productsTable {
    table-layout: fixed !important;
}

.mt-36 {
    margin-top: 36px;
}